*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #ffe7c5;
  box-sizing: border-box; }

section {
  padding-top: 8rem; }
  section:last-of-type {
    padding-bottom: 8rem; }

.container {
  background-color: #fff;
  border: 0.2rem solid #e78800;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 5rem;
  width: 84rem; }

body {
  color: #333;
  font-family: neue-haas-unica, sans-serif;
  font-size: 1.8rem; }

h1 {
  font-family: brandon-grotesque, sans-serif;
  font-size: 7.6rem;
  font-weight: 900;
  text-transform: uppercase; }

h2 {
  color: #fff;
  font-family: adobe-caslon-pro, serif;
  font-size: 5.7rem;
  font-style: italic;
  font-weight: 700;
  margin-top: -1rem; }

h3 {
  font-family: adobe-caslon-pro, serif;
  font-size: 5.7rem;
  font-style: italic;
  font-weight: 700;
  margin-top: -2rem; }

.text-shadow-orange {
  text-shadow: 0.8rem 0.8rem #e78800, 0.7rem 0.7rem #e78800, 0.6rem 0.6rem #e78800, 0.5rem 0.5rem #e78800, 0.4rem 0.4rem #e78800, 0.3rem 0.3rem #e78800, 0.2rem 0.2rem #e78800, 0.1rem 0.1rem #e78800; }

.text-shadow-blue {
  text-shadow: 0.8rem 0.8rem #006eb3, 0.7rem 0.7rem #006eb3, 0.6rem 0.6rem #006eb3, 0.5rem 0.5rem #006eb3, 0.4rem 0.4rem #006eb3, 0.3rem 0.3rem #006eb3, 0.2rem 0.2rem #006eb3, 0.1rem 0.1rem #006eb3; }

.box-shadow-orange {
  box-shadow: 0.8rem 0.8rem #e78800, 0.7rem 0.7rem #e78800, 0.6rem 0.6rem #e78800, 0.5rem 0.5rem #e78800, 0.4rem 0.4rem #e78800, 0.3rem 0.3rem #e78800, 0.2rem 0.2rem #e78800, 0.1rem 0.1rem #e78800; }

.box-shadow-blue {
  box-shadow: 0.8rem 0.8rem #006eb3, 0.7rem 0.7rem #006eb3, 0.6rem 0.6rem #006eb3, 0.5rem 0.5rem #006eb3, 0.4rem 0.4rem #006eb3, 0.3rem 0.3rem #006eb3, 0.2rem 0.2rem #006eb3, 0.1rem 0.1rem #006eb3; }

.btn, .btn:link, .btn:visited {
  background-color: #2badff;
  border-radius: 1rem;
  color: #fff;
  display: block;
  font-family: brandon-grotesque, sans-serif;
  font-size: 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2.5rem; }

.btn:hover {
  background-color: #006eb3; }

.hero {
  align-items: center;
  color: #fff;
  background-color: #ffa82c;
  display: flex;
  flex-direction: column;
  height: 60rem;
  position: relative; }
  .hero-content {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .hero-text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 3rem; }
    .hero-text .btn {
      margin-top: 4rem; }
  .hero img {
    border: 1rem solid #e78800;
    border-radius: 50%; }

.skills-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.skills-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  text-align: center; }
  .skills-box img {
    height: auto;
    width: 11.5rem; }

footer {
  font-size: 1rem;
  padding: 2rem;
  text-align: center; }
