$color-bg: #ffe7c5;
$color-primary: #ffa82c;
$color-primary-light: #ffc470;
$color-primary-dark: #e78800;
$color-secondary: #2badff;
$color-secondary-dark: #006eb3;
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #333;

$font-default: neue-haas-unica, sans-serif;
$font-header-primary: brandon-grotesque, sans-serif;
$font-header-secondary: adobe-caslon-pro, serif;

$font-size-main: 1.6rem;
