.btn {
  &,
  &:link,
  &:visited {
    background-color: $color-secondary;
    border-radius: 1rem;
    color: $color-white;
    display: block;
    font-family: $font-header-primary;
    font-size: 2.4rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
  }

  &:hover {
    background-color: $color-secondary-dark;
  }
}
