*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include tablet-portrait {
    font-size: 56.5%;
  }
}

body {
  background-color: $color-white;
  box-sizing: border-box;
}

section {
  padding-top: 2rem;

  &:last-of-type {
    padding-bottom: 2rem;
  }
}

.container {
  margin: 0 auto;
  padding: 5rem;
  width: 84rem;

  @include tablet-portrait {
    padding: 2.5rem;
    width: 60rem;
  }

  @include phone {
    padding: 1rem;
    width: 34rem;
  }
}

hr {
  border: none;
  border-top: 0.1rem solid $color-primary-dark;
  margin-bottom: 3rem;
}

p {
  margin-bottom: 2rem;
}
