body {
  color: $color-grey-dark;
  font-family: $font-default;
  font-size: 2.4rem;
}

h1 {
  font-family: $font-header-primary;
  font-size: 7.6rem;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;

  @include tablet-portrait {
    font-size: 5.7rem;
  }
}

h2 {
  color: $color-white;
  font-family: $font-header-secondary;
  font-size: 5.7rem;
  font-style: italic;
  font-weight: 700;
  margin-top: -1rem;

  @include tablet-portrait {
    margin-top: 1rem;
  }
}

h3 {
  font-family: $font-header-primary;
  font-size: 4.3rem;
  font-weight: 700;
  margin-top: -2rem;
  text-transform: uppercase;

  @include tablet-portrait {
    font-size: 3.2rem;
  }
}
